@using ASP_NET_Core.Models

<h2>Home</h2>

@(Html.DevExtreme().Scheduler()
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("ID"))
    .StartDateExpr("StartDate")
    .EndDateExpr("EndDate")
    .TextExpr("Text")
    .Views(new[] {
            SchedulerViewType.Day,
            SchedulerViewType.TimelineDay            
        })
    .CurrentView(SchedulerViewType.Day)
    .CurrentDate(new DateTime(2015, 4, 25))
    .FirstDayOfWeek(0)
    .StartDayHour(9)
    .EndDayHour(23)
    .ShowAllDayPanel(false)
    .Height(600)
    .OnAppointmentFormOpening("onAppointmentFormOpening"));

@(Html.DevExtreme().Popup()
    .ID("popup")
    .Width(500)
    .CloseOnOutsideClick(true));
    //.Visible(new JS("isCustomPopupVisible"))
    //.Title(new JS("editAppointmentData.Text")))

<script>
    var editAppointmentData;
    var isCustomPopupVisible = false;
    var customPopupTitle = "";

    function onAppointmentFormOpening(e) {
        e.cancel = true;
        editAppointmentData = { ...e.appointmentData };
        if (editAppointmentData.ID) {
            isCustomPopupVisible = true;
            customPopupTitle = editAppointmentData.Text

            let customPopupOptions = {
                visible: isCustomPopupVisible,
                title: customPopupTitle
            };
            console.log("showing popup")
            $("#popup").dxPopup("instance").option(customPopupOptions);

        }
    }
</script>

