@using ASP_NET_Core.Models

<h2>Home</h2>

@(Html.DevExtreme().Scheduler()
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("ID"))
    .StartDateExpr("StartDate")
    .EndDateExpr("EndDate")
    .TextExpr("Text")
    .Views(new[] {
            SchedulerViewType.Day,
            SchedulerViewType.TimelineDay
        })
    .CurrentView(SchedulerViewType.Day)
    .CurrentDate(new DateTime(2015, 4, 25))
    .FirstDayOfWeek(0)
    .StartDayHour(9)
    .EndDayHour(23)
    .ShowAllDayPanel(false)
    .Height(600)
    .OnAppointmentFormOpening("onAppointmentFormOpening"));

@(Html.DevExtreme().Popup()
    .ID("popup")
    .Width(500)
    .CloseOnOutsideClick(true)
    .Visible(new JS("isCustomPopupVisible"))
    .Title(new JS("editAppointmentData.Text"))
    .ContentTemplate(new TemplateName("popup-template")));

@using (Html.DevExtreme().NamedTemplate("popup-template"))
{
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>
            <img id="popup-image" src="" class="dx-field-label" />
              <div class="dx-field-label">
                <p>
                  <b id="popup-text"></b>
                </p>
                <p id="popup-year"></p>
                <p id="popup-duration"></p>
              </div>

              <div class="dx-field-label">
                <b id="popup-date"></b>
              </div>

              <div class="dx-field-label"><b>Price ($): </b></div>
              <div id="popup-price" class="dx-field-label">
                {{
                  editAppointmentData.seatRow && editAppointmentData.seatNumber
                    ? setSeatPrice(
                        editAppointmentData.price,
                        editAppointmentData.seatRow
                      )
                    : "Pick a seat for pricing"
                }}
              </div>
        </text>)
    )
}


<script>
    var editAppointmentData = {};
    var isCustomPopupVisible = false;
    var customPopupTitle = "";

    function onAppointmentFormOpening(e) {
        e.cancel = true;
        editAppointmentData = { ...e.appointmentData };
        if (editAppointmentData.ID) {
            isCustomPopupVisible = true;
            customPopupTitle = editAppointmentData.Text

            let customPopupOptions = {
                visible: isCustomPopupVisible,
                title: customPopupTitle
            };

            $("#popup").dxPopup("instance").option(customPopupOptions);

            $("#popup-text").text(editAppointmentData.Text);
            $("#popup-year").text(`Year: ${editAppointmentData.Year}`);
            $("#popup-duration").text(`Duration: ${editAppointmentData.Duration} minutes`);

           
            $("#popup-date").text(`${DevExpress.localization.formatDate(new Date(editAppointmentData.StartDate), "shortTime")} - ${DevExpress.localization.formatDate(new Date(editAppointmentData.EndDate), "shortTime")}`);           
            $("#popup-image").attr("src", editAppointmentData.Image);

        }
    }
</script>

