@using ASP_NET_Core.Models

<h2>Home</h2>

@(Html.DevExtreme().Scheduler()
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("ID"))
    .StartDateExpr("StartDate")
    .EndDateExpr("EndDate")
    .TextExpr("Text")
    .Views(new[] {
            SchedulerViewType.Day,
            SchedulerViewType.TimelineDay            
        })
    .CurrentView(SchedulerViewType.Day)
    .CurrentDate(new DateTime(2015, 4, 25))
    .FirstDayOfWeek(0)
    .StartDayHour(9)
    .EndDayHour(23)
    .ShowAllDayPanel(false)
    .Height(600)
    .OnAppointmentFormOpening("onAppointmentFormOpening"));

<script>
    function onAppointmentFormOpening(e) {

    }
</script>

